$font-family: arial, sans-serif;
$transition: all 0.3s ease;
$half-white: rgba(255, 255, 255, 0.5);
$one-tenth-white: rgba(255, 255, 255, 0.1);
$half-black: rgba(0, 0, 0, 0.5);
$one-tenth-black: rgba(0, 0, 0, 0.1);